header {
  margin-top: 5%;
  text-align: center;
  color: black;
}

#tracks {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

/*.full-stack {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin-right: 10%;
}*/

/*.bodywork {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin-left: 10%;
}*/
