header {
  text-align: center;
  color: black;
}

.full-stack {
  margin-left: 20%;
  margin-top: 3em;
  display: inline-block;
}

.bodywork {
  margin-right: -180%;
  margin-top: 3em;
  display: inline-block;
}
