header {
  text-align: center;
  color: black;
}

.full-stack {
  margin-left: 18%;
  margin-top: 3em;
  display: inline-block;
}

.bodywork {
  margin-left: 10%;
  margin-top: 2em;
  display: inline-block;
}
